@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Lexend", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  .h1 {
    font-size: 3.5rem !important;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    line-height: 1.2;
  }

  h2,
  h3 {
    font-family: "Lexend", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--background, #fff);
    color: var(--foreground, #000);
    transition-property: color, background-color;
    transition-duration: 300ms;
    font-family: "Lexend", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-feature-settings: "rlig" 1, "clig" 1, "calt" 1, "kern" 1;
  }

  @media (max-width: 767.98px) {
    body {
      font-size: 16px;
    }
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background-color: #0d6efd;
  border-radius: 50%;
  cursor: pointer; /* Fixed typo */
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background-color: #0d6efd;
  border-radius: 50%;
  cursor: pointer; /* Fixed typo */
}

@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
  }

  @media (min-width: 640px) {
    .container {
      max-width: 768px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 758px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1400px) {
    .container {
      max-width: 1500px;
    }
  }
}
